@font-face {
    font-family: 'triomphebold';
    src: url('../fonts/triomphe-bold-autoinstr-webfont.woff2') format('woff2'),
         url('../fonts/triomphe-bold-autoinstr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'triomphebold-italic';
    src: url('../fonts/triomphe-bold-italic-autoinstr-webfont.woff2') format('woff2'),
         url('../fonts/triomphe-bold-italic-autoinstr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'triompheitalic';
    src: url('../fonts/triomphe-italic-autoinstr-webfont.woff2') format('woff2'),
         url('../fonts/triomphe-italic-autoinstr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'triomphelight';
    src: url('../fonts/triomphe-light-autoinstr-webfont.woff2') format('woff2'),
         url('../fonts/triomphe-light-autoinstr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'triomphelight-italic';
    src: url('../fonts/triomphe-light-italic-autoinstr-webfont.woff2') format('woff2'),
         url('../fonts/triomphe-light-italic-autoinstr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'triompheregular';
    src: url('../fonts/triomphe-regular-autoinstr-webfont.woff2') format('woff2'),
         url('../fonts/triomphe-regular-autoinstr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}