@import "../../assets/styles/utilities/variable.scss";
@import '../../assets/styles/utilities/responsive.scss';


.label--search::before{    
    content:"";
    background: url(../../assets/img/icon-search.svg) no-repeat center center;
    background-size: 100% auto;
    width: 15px;
    height: 15px;    
    float:left;
    margin-right: 10px;
    @include respond-below(sm){        
        width: 20px;
        height: 40px;        
    }
}

.input--search{
 @include respond-below(sm){
    width: 70vw;
    height: 40px;
    font-size: 1rem;
    border-radius: 0;
    
}
 font-size: 0.85rem;
 width: 320px;       
 background: $default-color;
 color: #FFFFFF;
 border: 0;
 border-bottom: 1px solid $place-holder-color;
 outline: 0; 
 
}